[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "PPQplan"]
	path = PPQplan
	url = https://github.com/allenzhuaz/ppqplan
	shallow = true
	registered = true
[submodule "MHTdiscrete"]
	path = MHTdiscrete
	url = https://github.com/allenzhuaz/mhtdiscrete
	shallow = true
	registered = true
[submodule "MHTmult"]
	path = MHTmult
	url = https://github.com/allenzhuaz/mhtmult
	shallow = true
	registered = true
[submodule "FixSeqMTP"]
	path = FixSeqMTP
	url = https://github.com/allenzhuaz/fixseqmtp
	shallow = true
	registered = true
