[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ADCT"]
	path = ADCT
	url = https://github.com/allenzhuaz/adct
[submodule "FixSeqMTP"]
	path = FixSeqMTP
	url = https://github.com/allenzhuaz/fixseqmtp
[submodule "MHTdiscrete"]
	path = MHTdiscrete
	url = https://github.com/allenzhuaz/mhtdiscrete
[submodule "MHTmult"]
	path = MHTmult
	url = https://github.com/allenzhuaz/mhtmult
[submodule "PPQplan"]
	path = PPQplan
	url = https://github.com/allenzhuaz/ppqplan
[submodule "ph2bye"]
	path = ph2bye
	url = https://github.com/cran/ph2bye
[submodule "ph2mult"]
	path = ph2mult
	url = https://github.com/cran/ph2mult
